<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
    <!-- Bootstrap -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous"
    />
<body>
      <p></p>
      <div th:insert="fragments/navbar.html :: navbar"></div>
      <div class="alert alert-danger" role="alert">Content only accessible to logged in user.
      </div>
      <div class="row d-flex justify-content-center align-items-center h-100">
      <img
            class="img-fluid w-500 d-none d-lg-block"
            src="../images/error404.jpeg"
            alt=""
            style="width: 50%"
          />
    </div>

    <!-- Bootstrap -->
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"
    ></script>

</body>
</html>