<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News</title>
  <!-- Bootstrap -->
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
</head>

<body>
<!-- Navigation Bar -->
<div th:insert="fragments/navbar.html :: navbar"></div>


<!--  -->
<br>
  <main id="main">
    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="justify-content-center" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
            <div class="container">
              <!-- <div class="post-meta"> -->
                <span class="date">Business</span> 
                <span class="mx-1">&bullet;</span> 
                Published Date: <span data-th-text="${result.pubDate}"></span>
              </div>
              <br>
              <h1 class="container" strong data-th-text="${result.title}"></strong></h1>
              <figure class="container">
                <img class="rounded mx-auto d-block" src="" th:attr="src=${result.imageURL}" width="750px"/>
                <!-- <figcaption>caption of image</figcaption> -->
              </figure>

              <!-- <p data-th-text="${result.summary}"></p> -->
              [(${result.markup})]

            </div><!-- End Single Post Content -->
          </div>
        </div>
      </div>
    </section>
  </main>


  <div th:insert="fragments/footer.html :: footer"></div>

  <!-- Bootstrap -->
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
</body>
</html>