<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>
<body>
    <h2>News</h2>
    <p>${results}</p>
</body>
<header class="navigation fixed-top">
    <div class="container">

      <!-- main navigation -->
      <nav class="navbar navbar-expand-lg navbar-light">
        
        <!-- /logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item ">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Stock
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="stockanalysis.html">Stock Analysis</a>
                    <a class="dropdown-item" href="stocksummary.html">Stock Summary</a>
                    <a class="dropdown-item" href="stockinsidertransactions.html">Stock Insider Transactions</a>
                    <a class="dropdown-item" href="stockhistoricaldata.html">Stock Historical Data</a>
              </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Market
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="marketsummary.html">Market Summary</a>
                    <a class="dropdown-item" href="marketquotes.html">Market Quotes</a>
                    <a class="dropdown-item" href="marketpopularwatchlists.html">Popular Watchlists</a>
                    <a class="dropdown-item" href="marketwatchlistperformance.html">Watchlist Performance</a>
                </div>
              </li>
            <li class="nav-item ">
              <a class="nav-link" href="news.html">News</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="login.html">Login</a>
                <a class="dropdown-item" href="register.html">Register</a>
                <a class="dropdown-item" href="logout.html">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /main nav -->
    </div>
  </header>
</html>